---

import Layout from "@layouts/default/Layout.astro";
import { categories } from "@scripts/config";
import { getDataEntryById } from 'astro:content';

export async function getStaticPaths({ paginate }) {

  return categories.flatMap((category) => {

    const filteredCategory = categories

    return paginate(filteredCategory, { 
      params: { category },
      pageSize: 2 
    });  
  
  })
}

function safeParseInt(value: any, fallback: number) {
	try {
		return parseInt(value) || fallback;
	} catch {
		return fallback;
	}
}

const pageNum = safeParseInt(Astro.url.searchParams.get('page'), 1);


const { page } = Astro.props;
const params = Astro.params;


---

<Layout>

  <h1>Page {page.currentPage}</h1>

  <ul>
    {page.data.map((params ) => <li>{params}</li>)}
  </ul>

  <div slot="footer">
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {pageNum}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </div>


</Layout>