---


import Datetime from "../Datetime";


const { title, pubDate, description, secHeading = true , postSlug} = Astro.props;

const headerProps = {
  // style: { viewTransitionName: 'movie-poster' },
  class: "text-lg font-medium decoration-dashed hover:underline",
};

---
<li class="my-6">
  <a
    href={`/blog/${postSlug}`}
    class="inline-block text-lg font-medium  decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {secHeading ? (
      <h2 {...headerProps}>{title}</h2>
    ) : (
      <h3 {...headerProps}>{title}</h3>
    )}
  </a>
  <Datetime datetime={pubDate} />
  <p>{description}</p>
</li>