---

interface Props {
  image?: string,
  title: string,
  pubDate?: string,
  description: string,
  tags: string[],
}

const  {image, title, pubDate, description, tags} = Astro.props 

---


<div class="group relative ">
  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-700 lg:aspect-none group-hover:opacity-75 lg:h-80">
    { image && <img src={image} alt={title} class="h-full w-full object-cover object-center lg:h-full lg:w-full" />  }
  </div>

  <div class="flex justify-between">
    <div>
        <h3 class="text-sm text-gray-700 line-clamp-1 caplitalize">
          <a href=`/blog/${title}`>
            <span aria-hidden="true" class="absolute inset-0 "></span>
            {title}
          </a>
        </h3>
        <p class="text-sm font-medium text-gray-900">{pubDate}</p>
        <p class="mt-1 text-sm text-gray-500 line-clamp-2">{description}</p>      
        <span class="text-sm opacity-50 capitalize"> Tags : {tags.map((tag:any) => ({tag}))}</span>
      </div>  
  </div>
</div>



